.container-navbar {
  height: 100vh;
  width: 23%;
  transform: translateX(-100%);
  transition: all 1s;
  color: white;
}

.container-navbar h1 {
  font-size: 30px;
}

.container-navbar h1,
.container-navbar p {
  font-family: var(--pop);
}

.aaaa {
  border: 2px solid black;
}
